/*--MEDIA QUERIES--*/

/*800PX
------------- a la secció Carta, les dues fotos de cada menú apareguin una sota l’altra
------------- els elements de la secció Galeria es vegin dos a cada fila
*/

@media screen and (max-width: 800px) {
  .flex-container {
    width: 100%;
    height: 40rem;
    padding: 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
  }

  .flx {
    width: 45%;
  }
}

/*600PX
------------- Tots els elements apareguin en una sola columna.
------------- reduir el marge a banda i banda --- FET. 
*/
@media screen and (max-width: 600px) {

  nav{
    padding: 0rem;
  }

  nav a{
    padding: 0rem;
  }

  header{
    padding: 0rem;
  }

  article{
    padding:0rem;
  }

  h2{
    padding: 0rem;
  }

  .sectLeft,
  .sectRight2{
    padding: 0rem;
  }

  .sectRight p, 
  .sectLeft2 p{
    padding: 0rem;
  }

  .grid-container{
    padding: 0rem;
    gap: 0rem;
  }

  .item1 span{
    padding: 0rem;
  }

  .item2{
    padding: 0rem;
  }

  .flex-container {
    width: 100%;
    height: 40rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .flx {
    width: 100%;
    height: 10%;
    border: 2px solid transparent;
    outline: 2px solid transparent;
  }
  

  footer{
    padding: 0rem;
  }
}
