@import url(https://fonts.googleapis.com/css2?family=Domine&family=Abril+Fatface&family=Frank+Ruhl+Libre&family=Lora&family=Noto+Serif&family=Playfair+Display&display=swap);

@font-face {
  font-family: "QuadBold";
  src: url("../fonts/QuadraatOffcPro-Demibold.503de61.woff2") format("woff");
}

@font-face {
  font-family: "QuadOffc";
  src: url("../fonts/QuadraatOffcPro.8da61d2.woff2") format("woff");
}

:root {
  --bg: #0f0b06;
  --txt60: #ffffffa6;
  --txt100: #efefef;
  --txtAccent: #fbcea0;
  --gradientColors: radial-gradient(
    circle at 20% 30%,
    #fff 0,
    #fbcea0 66%,
    #fbcea0 100%
  );

  /*--FONTS--*/
  --Quad1: "QuadOffc";
  --QuadBold: "QuadBold";
}

html {
  scroll-behavior: smooth;
  margin-top: -20px !important;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url("https://baldursgate3.game/masks/smoke.jpg");
  background-color: var(--bg) !important;
  margin: 0px !important;
  color: var(--txt) !important;
}

a {
  text-decoration: none !important;
}

.border-l {
  width: 100%;
  content: "";
  border-top: 1px solid var(--txtAccent) !important;
}

.nav-laia {
  z-index: 99;
  top: 10px;
  position: fixed;
  display: flex;
  width: 100%;
  height: 10%;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-img {
  width: 250px;
}

.nav-img2 {
  padding-left: 2%;
  width: 45px;
}

.nav-real {
  padding-top: 25px;
  display: flex;
  width: calc(100% - 325px);
  height: auto;
  align-items: stretch;
  align-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-transform: uppercase;
}

.nav-real a {
  color: var(--txtAccent);
  cursor: crosshair;
  font-family: var(--QuadBold);
  letter-spacing: 0.5px;
  font-size: 12px;
  border-bottom: 1px solid none;
  transition: 0.3s all ease-in-out;
}

.nav-real a:hover {
  letter-spacing: 1.2px;
  color: var(--txt100);
  border-bottom: 1px solid var(--txtAccent);
  transition: 0.3s all ease-in-out;
}

.gen-title {
  overflow: hidden;
}

.titl-img {
  background-image: url(../img/video-still.jpg);
  background-size: auto;
  background-position: center;
  margin: 0 auto;
  height: 1070px;
  text-align: center;
  overflow: hidden;
}

.titl-transform {
  transform: translate(0px, 650%);
}

.titl-main > h1 {
  font-size: 4.375rem;
  background: var(--gradientColors);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--QuadBold);
}

.btn-baldurs{
  cursor: crosshair!important;
  padding: 10px;
  background-image: url("https://baldursgate3.game/masks/smoke.jpg");
  background-position: center;
  background-size: cover;
  color:var(--txt60);
  font-family: var(--QuadBold);
  font-size: 1rem;
  letter-spacing: 0.8px;
  font-weight: 800;
  text-transform: uppercase;
  outline: 1px solid #462d13;
  border:1px solid var(--txtAccent);
  transition: 0.3s all ease-in-out;
}

.btn-baldurs:hover,
.btn-baldurs:active{
  background-color:#2e1c09;
  color:var(--txt100);
  letter-spacing: 1.3px;
  outline: 1px solid var(--txtAccent);
  border:1px solid #2e1c09;
  transition: 0.3s all ease-in-out;
}

/*--ABOUT--*/
.about-bg {
  width: 100%;
  height: 500px;
  background-image: url("https://baldursgate3.game/about/about-homepage.png");
  margin: 0 auto;
  display: block;
}

.about-txt {
  display: inline-block;
  font-family: var(--QuadBold);
  width: 450px;
  position: relative;
  top: 18%;
  left: 12%;
}

.about-txt > h1 {
  color: var(--txt100);
}

.about-txt > h4 {
  font-size: 0.77rem;
  letter-spacing: 2px;
  color: var(--txtAccent);
  font-family: var(--Quad1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-txt > p {
  font-size: 1.125rem;
  color: var(--txt60);
  line-height: 155%;
  font-family: var(--Quad1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*--COMPANIONS--*/
.gen-companions {
  width: 100%;
  padding: 5% 2%;
  background-image: url("https://baldursgate3.game/masks/smoke.jpg");
}

.companions-laia{
  padding-top:2rem;
  height: 500px;
  width: 100%;
}

.companions-laia > .row{
  width: 100%;
  height: 100%;
}

/*--AUDIO, AMAGA COSES--*/
audio{
  z-index:99;
  width:198px;
  height:20px;
  overflow:hidden;
}

audio::-webkit-media-controls-panel{
  background-color:var(--txtAccent);
  opacity:1;
}

/*--VOLUMEN--*/
audio::-webkit-media-controls-volume-slider {
display: none!important; }

audio::-webkit-media-controls-volume-slider {
display: none !important; }

audio::-webkit-media-controls-volume-control-container.closed {
display: none !important;} 

audio::-webkit-media-controls-volume-control-container{
  display: none !important; }

/*--TEM--*/
audio::-webkit-media-controls-time-remaining-display {
    display: none!important; }

audio::-webkit-media-controls-toggle-closed-captions-button {
    display: none;
}

.titl-companion{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.375rem;
  background: var(--gradientColors);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--QuadBold);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.img-companion{
  background-size: cover;
  background-position: center;
  background-image: url(../img/yuno-partida1.png);
}

.txt-companion{
  font-size: 1.125rem;
  line-height: 145%;
  font-weight: 400;
  color: var(--txt60);
  font-family: var(--Quad1);
  text-wrap: pretty;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.txt-companion b{
  font-weight: 500;
  font-size: 1.185rem;
  border-bottom: 1px solid var(--txtAccent);
}

.txt-scroll{
  padding: 2px;
  overflow-y: auto;
}

.txt-scroll::-webkit-scrollbar-track{background-color: transparent!important;border: none!important;}
.txt-scroll::-webkit-scrollbar-thumb{background: transparent!important;border-left:2px solid var(--txtAccent);}
.txt-scroll::-webkit-scrollbar{width:2px;height: 2px;background-color:transparent!important;} 

/*--FAQ--*/
.gen-faq {
  width: 100%;
  padding: 5% 2%;
  background-image: url("https://baldursgate3.game/masks/smoke.jpg");
}

.gen-faq h1{
  text-align: center;
  font-size: 4.375rem;
  background: var(--gradientColors);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--QuadBold);
}

.mauto{
  width: 50%;
  margin: auto;
}

details{
  border: 1px solid var(--txtAccent);
  padding: 1.2rem;
  margin-top: 2rem;
}

summary::marker {
  font-size: 1.5em;
  content: "+";
  color: var(--txt60);
}

[open] summary::marker {
  font-size: 1.5em;
  content: "-";
  color: var(--txt60);
}

details summary {
  cursor: pointer;
  user-select: none; 
}

summary p{
  font-size: 1.25rem;
  font-family: var(--Quad1);
  text-transform: uppercase;
  display: inline;
}

details p,
summary p{
  color: var(--txt60);
}

.desc-laia{
  padding: 0.5rem;
  font-size: 1.05rem;
  font-family: var(--Quad1);
}

/*--HOTFIX--*/
.gen-hotfix {
  width: 100%;
  padding: 5% 2%;
  background-image: url("https://baldursgate3.game/masks/smoke.jpg");
}

.gen-hotfix h1{
  text-align: center;
  font-size: 4.375rem;
  background: var(--gradientColors);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--QuadBold);
}

.hotfix-scroll {
  height: 280px;
  width: calc(100% - 90px);
  margin: auto;
  padding: 2px;
  overflow:hidden;
  column-count:4;
  overflow-x:auto;
}

.hotfix-scroll::-webkit-scrollbar-track{background-color: transparent!important;border: none!important;}
.hotfix-scroll::-webkit-scrollbar-thumb{background: transparent!important;border-bottom:2px solid var(--txtAccent);}
.hotfix-scroll::-webkit-scrollbar{width:2px;height: 2px;background-color:transparent!important;} 

.hotfix-cgen{
  height:95%;
  display:-webkit-inline-box;
  overflow:hidden;
  padding:5px;
  outline: 1px solid var(--txtAccent);
  transition: 0.8s all ease-in-out;
}

.hotfix-ctxt{
  width: 70%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.hotfix-ctitl{
  width: 100%;
  height: 35%;
  padding: 2%;
  overflow: hidden;
}

.hotfix-ctitl > h1 {
  font-size: 1.82rem;
  color: var(--txt100);
  text-transform: uppercase;
  overflow: hidden;
  font-weight: 400;
  font-family: var(--QuadBold);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.8s all ease-in-out;
}


.hotfix-cdesc{
  width: 100%;
  height: calc(100% - 35%);
  padding: 2%;
  overflow: hidden;
  color: var(--txt60);
  font-family: var(--Quad1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hotfix-cdesc span{
  padding-top: 2rem;
  display: block;
  color: var(--txtAccent);
  font-family: var(--Quad1);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: right;
  transition: 0.8s all ease-in-out;
}

.hotfix-img{
  width: 30%;
  height: 100%;
  background-image: url('https://cmsapi.larian.com//uploads/image/65f849ca7631d.jpg');
  background-position: center;
  background-size: cover;
}

.hotfix-cgen:hover .hotfix-cdesc span{
  cursor:crosshair;
  letter-spacing: 1.2px;
  color: var(--txt60);
  transition: 0.8s all ease-in-out;
}

.hotfix-cgen:hover .hotfix-ctitl h1{
  color: var(--txtAccent);
  transition: 0.8s all ease-in-out;
}

.hotfix-cgen:hover{
  outline: 1px solid transparent;
  transition: 0.8s all ease-in-out;
}

.img21{
  background-image: url('https://cmsapi.larian.com//uploads/image/65e9b4752ca7e.jpg');
  background-position: center;
  background-size: cover;
}

.img20{
  background-image: url('https://cmsapi.larian.com//uploads/image/65e0888daf9eb.jpg');
  background-position: center;
  background-size: cover;
}

.img19{
  background-image: url('https://cmsapi.larian.com//uploads/image/65e08b117a8bb.png');
  background-position: center;
  background-size: cover;
}

.img18{
  background-image: url('https://cmsapi.larian.com//uploads/image/65d46d906a5ed.png');
  background-position: center;
  background-size: cover;
}

.img17{
  background-image: url('https://cmsapi.larian.com//uploads/image/6603f9d556f31.png');
  background-position: center;
  background-size: cover;
}

.img16{
  background-image: url('https://cmsapi.larian.com//uploads/image/65cf316211047.jpg');
  background-position: center;
  background-size: cover;
}

.img15{
  background-image: url('https://cmsapi.larian.com//uploads/image/65f849ca7631d.jpg');
  background-position: center;
  background-size: cover;
}

/*--FOOTER--*/
.gen-footer {
  width: 100%;
  height: 300px!important;
  background: rgba(0,0,0,0.77);
  background-blend-mode: multiply;
  background-image: url(../img/footer.jpg);
}

.foot-one{
  position: relative;
  top: 80px;
  width: 100%;
  height:50%;
  padding: 2rem;
  display: flex;
}

.footer-images{
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5rem;
}

.foot-imglogo{
  width: 70px;
}

.foot-imglogow{
  width: 97px;
}

.foot-imglogodd{
  width: 183px;
}

.footer-copyright{
  margin-left: 2rem;
  color: var(--txt60);
  font-family: var(--Quad1);
  font-size: 1.05rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*----MEDIA QUERIES----*/
@media (max-width: 1200px) {
  .btn-baldurs{
    font-size: 0.8rem;
  }
}

@media (max-width: 992px) {
  .btn-baldurs{
    font-size: 0.58rem;
  }
}

@media (max-width: 768px) {
  .btn-baldurs{
    font-size: 0.5rem;
  }
}