@import url(https://fonts.googleapis.com/css2?family=Domine&family=Abril+Fatface&family=Frank+Ruhl+Libre&family=Lora&family=Noto+Serif&family=Playfair+Display&display=swap);

@font-face {
  font-family: "QuadBold";
  src: url("../fonts/QuadraatOffcPro-Demibold.503de61.woff2") format("woff");
}

@font-face {
  font-family: "QuadOffc";
  src: url("../fonts/QuadraatOffcPro.8da61d2.woff2") format("woff");
}

:root {
  --bg: #0f0b06;
  --txt60: #ffffffa6;
  --txt100: #efefef;
  --txtAccent: #fbcea0;
  --gradientColors: radial-gradient(
    circle at 20% 30%,
    #fff 0,
    #fbcea0 66%,
    #fbcea0 100%
  );

  /*--FONTS--*/
  --Quad1: "QuadOffc";
  --QuadBold: "QuadBold";
}

html {
  scroll-behavior: smooth;
  margin-top: -20px !important;
  overflow-x: hidden;
}

body {
  background-image: url("https://baldursgate3.game/masks/smoke.jpg");
  background-color: var(--bg) !important;
  margin: 0px !important;
  color: var(--txt) !important;
}

a {
  text-decoration: none !important;
}

.border-l {
  width: 100%;
  content: "";
  border-top: 1px solid var(--txtAccent) !important;
}

.nav-laia {
  z-index: 99;
  top: 10px;
  position: fixed;
  display: flex;
  width: 100%;
  height: 10%;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-img {
  width: 250px;
}

.nav-img2 {
  padding-left: 2%;
  width: 45px;
}

.nav-real {
  padding-top: 25px;
  display: flex;
  width: calc(100% - 325px);
  height: auto;
  align-items: stretch;
  align-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-transform: uppercase;
}

.nav-real a {
  color: var(--txtAccent);
  cursor: crosshair;
  font-family: var(--QuadBold);
  letter-spacing: 0.5px;
  font-size: 12px;
  border-bottom: 1px solid none;
}

.nav-real a:hover {
  letter-spacing: 1.2px;
  color: var(--txt100);
  border-bottom: 1px solid var(--txtAccent);
}

.gen-title {
  overflow: hidden;
}

.titl-img {
  background-image: url(../img/video-still.jpg);
  background-size: auto;
  background-position: center;
  margin: 0 auto;
  height: 1070px;
  text-align: center;
  overflow: hidden;
}

.titl-main {
  transform: translate(0px, 120%);
}

.titl-main > h1 {
  font-size: 70px;
  background: var(--gradientColors);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--QuadBold);
}

/* .loremipsum{
    position:relative;
    width:30%;
    height:auto;
    margin:0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:15px;
    line-height: 155%;
    color:#fbcea0;
    margin-bottom: 50px;
} */

/*--ABOUT--*/

.about-bg {
  width: 100%;
  height: 500px;
  background-image: url("https://baldursgate3.game/about/about-homepage.png");
  margin: 0 auto;
  display: block;
}

.about-txt {
  display: inline-block;
  font-family: var(--QuadBold);
  width: 450px;
  position: relative;
  top: 18%;
  left: 12%;
}

.about-txt > h1 {
  color: var(--txt100);
}

.about-txt > h4 {
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  color: var(--txtAccent);
}

.about-txt > p {
  font-size: 1.02rem;
  color: var(--txt60);
}

/*--COMPANIONS--*/
.gen-companions {
  width: 100%;
  background-color: green;
}

/*--FAQ--*/
.gen-faq {
  width: 100%;
  background-color: red;
}

/*--HOTFIX--*/
.gen-hotfix {
  width: 100%;
  padding: 5%;
  background-color: purple;
}

.hotfix-scroll {
  height: 350px;
  width: calc(100% - 90px);
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: red;
}

.hotfix-scroll::-webkit-scrollbar {
  width: 2px !important;
  height: 2px !important;
  background: aquamarine;
}

.hotfix-scroll::-webkit-scrollbar-thumb {
  width: 2px !important;
  height: 2px !important;
  background: red;
}

/*--FOOTER--*/
.gen-footer {
  width: 100%;
  background-image: url(../img/footer.jpg);
}
